<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form>
        <div>
            <label for="todo">New Todo:</label>
            <input type="text" id="todo" name="todo"/>
        </div>

        <div>
            <label for="status"></label>
            <select name="status" id="status">
                <option value="Complete">Complete</option>
                <option value="In_Progress">In Progress</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>

        <button type="submite"> Create </button>
    </form>
</body>
</html>