<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static', filename='index.css') }}">
</head>
<body>
    <h1>
        Welcome to the homepage {{ first_name }} 
        <!-- curly brackets -> jinja syntax for using python variables in html  -->
    </h1>

    <div>
        <ul>
            {% for element in list_todos: %}
                {% if element["status"] == "Complete": %}
                    <li>
                        {{element["status"]}} - {{element["todo"]}}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>