<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center p-5 bg-primary text-white">Dojos and Ninjas</h1>
    <div class="container">
        <div class="row">      
            <div class="col p-3">
                <form action="/dojos/new" method="post">
                    <div class="my-3">
                        <label for="name" class="form-label h1">Create Dojo</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter dojo name here">
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary btn-lg">
                </form>
            </div>
            <div class="col p-3">
                <h1 class="text-center">Dojos</h1>
                <div class="list-group text-center ">
                    <!-- loops through dojo table and creates an a link ending with the dojo id  -->
                    {% for dojo in dojos %}
                        <a href="/dojos/{{dojo.id}}" class="display-6 list-group-item list-group-item-action">{{dojo.name}}</a>
                    {% endfor %}
                </div>
                <div class="d-grid">
                    <a href="/ninjas/new" class="btn btn-primary"><span class="display-6">Add new ninja</span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>