<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <form action="/user/update" method="post" class="col-6 mx-auto">
        <h2 class="text-center my-3">Edit {{user.first_name}}</h2>
        <input type="hidden" name="id" value="{{user.id}}">
        <div class="form-group mb-3">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="{{user.last_name}}" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{user.email}}" class="form-control">
        </div>
        <div class="d-grid">
            <input type="submit" value="Update User" class="btn btn-success">
        </div>
    </form>
</body>
</html>